In [1]:
import pandas as pd
import sys
sys.path.append(r'C:\Users\Max Tost\Desktop\Notebooks\PowerPrediction\ml-project-2-powerpredictors')

from helpers import *

In [4]:
path = r'C:\Users\Max Tost\Desktop\Notebooks\PowerPrediction\ml-project-2-powerpredictors\data\epfl_campus_demand.csv'
data = LoadData(path)
relnan(data, 'estimated_demand')

0.38233132441569895

In [8]:
data['Unnamed: 0'] = pd.to_datetime(data['Unnamed: 0'])

In [12]:
data['Unnamed: 0'].dt.second

0         0
1         0
2         0
3         0
4         0
         ..
408116    0
408117    0
408118    0
408119    0
408120    0
Name: Unnamed: 0, Length: 408121, dtype: int32

In [22]:
data.drop('Unnamed: 0', axis=1)

        estimated_demand  temperature  year  month  day
0           10552.278451         3.60  2022      2    3
1           10514.949935         3.61  2022      2    3
2           10498.390786         3.62  2022      2    3
3           10499.352978         3.63  2022      2    3
4           10438.483576         3.64  2022      2    3
...                  ...          ...   ...    ...  ...
408116       7745.072704         8.90  2022     11   13
408117       7767.063583         8.90  2022     11   13
408118       7690.462194         8.90  2022     11   13
408119       7634.141367         8.90  2022     11   13
408120       7626.746957         8.90  2022     11   14

[408121 rows x 5 columns]

In [3]:
test

      year  month  day  hour  estimated_demand  temperature
0     2022      2    3    14      11105.379229     3.716667
1     2022      2    3    15      11453.167536     3.540833
2     2022      2    3    16      10959.985194     3.651667
3     2022      2    3    17      10851.263287     3.220000
4     2022      2    3    18      10219.013269     3.166667
...    ...    ...  ...   ...               ...          ...
6798  2022     11   13    20       8244.176651     7.983333
6799  2022     11   13    21       8143.092962     7.620000
6800  2022     11   13    22       8017.117859     7.696667
6801  2022     11   13    23       7742.279054     8.558333
6802  2022     11   14     0       7626.746957     8.900000

[6803 rows x 6 columns]

In [8]:
hourly_avg = (
    test.groupby(['year', 'month', 'day', 'hour'])
    .mean()  # Calculate the mean for each group
    .reset_index()  # Reset the index to turn the grouped columns back into regular columns
)

# Optionally, display the resulting DataFrame
print(hourly_avg) #.drop('minute', axis=1))

      year  month  day  hour  estimated_demand  temperature  minute
0     2022      2    3    14      11105.379229     3.716667    29.5
1     2022      2    3    15      11453.167536     3.540833    29.5
2     2022      2    3    16      10959.985194     3.651667    29.5
3     2022      2    3    17      10851.263287     3.220000    29.5
4     2022      2    3    18      10219.013269     3.166667    29.5
...    ...    ...  ...   ...               ...          ...     ...
6798  2022     11   13    20       8244.176651     7.983333    29.5
6799  2022     11   13    21       8143.092962     7.620000    29.5
6800  2022     11   13    22       8017.117859     7.696667    29.5
6801  2022     11   13    23       7742.279054     8.558333    29.5
6802  2022     11   14     0       7626.746957     8.900000     0.0

[6803 rows x 7 columns]