In [1]:
import pandas as pd
import datetime 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os 
from datetime import datetime
import time

In [2]:
# Save current directory
current_directory = os.getcwd()

# Set print options to suppress scientific notation and show 3 decimal places
np.set_printoptions(suppress=True, precision=5)
pd.options.display.float_format = '{:.5f}'.format

# Suppress all warnings globally
import warnings
warnings.filterwarnings("ignore")

In [3]:
file_path = os.path.join(current_directory, 'data_augmented/means_test.csv')
means_test = pd.read_csv(file_path)
file_path = os.path.join(current_directory, 'data_augmented/stds_test.csv')
stds_test = pd.read_csv(file_path)

In [4]:
mean_test = means_test['power_consumption']
std_test = stds_test['power_consumption']

## Prediction accuracy

In [6]:
file_path = os.path.join(current_directory, 'results/errors.csv')
errors = pd.read_csv(file_path, index_col=0)

#### Standardized

In [8]:
errors

                           RMSE     MAE      ME    MAPE
SARIMA                  1.09877 0.89233 3.70551 4.69340
Persistence Forecast    0.91496 0.59467 3.52636 4.34736
LSTM                    0.42351 0.31786 1.61356 1.44640
LSTM - include forecast 0.51766 0.38316 2.40546 1.54814
TCN                     0.72545 0.52100 2.49642 1.43969

#### Original scale

In [10]:
errors * std_test.item() + mean_test.item()

                              RMSE        MAE          ME        MAPE
SARIMA                  8603.12183 8380.93202 11408.74699 12472.00514
Persistence Forecast    8405.28538 8060.56500 11215.92483 12099.56561
LSTM                    7876.34644 7762.63580  9157.18964  8977.27746
LSTM - include forecast 7977.67916 7832.91376 10009.50302  9086.77125
TCN                     8201.32078 7981.26918 10107.40244  8970.05071

#### Normalized

In [12]:
errors / np.max(errors, axis = 0)

                           RMSE     MAE      ME    MAPE
SARIMA                  1.00000 1.00000 1.00000 1.00000
Persistence Forecast    0.83271 0.66643 0.95165 0.92627
LSTM                    0.38544 0.35622 0.43545 0.30818
LSTM - include forecast 0.47113 0.42939 0.64916 0.32985
TCN                     0.66024 0.58386 0.67370 0.30675

## Prediction uncertainty

In [14]:
file_path = os.path.join(current_directory, 'results/uncertainty_evaluation.csv')
uncertainty_evaluation = pd.read_csv(file_path, index_col=0)
uncertainty_evaluation

        PICP   PINAW
LSTM 0.31380 0.05839
TCN  0.64974 0.22291

#### Normalized

In [16]:
uncertainty_evaluation / np.max(uncertainty_evaluation, axis = 0)

        PICP   PINAW
LSTM 0.48297 0.26192
TCN  1.00000 1.00000

## Cost of imbalance

In [18]:
file_path = os.path.join(current_directory, 'data_augmented/residuals.csv')
residuals = pd.read_csv(file_path, index_col=0)  * std_test.item()

imbalance_price = 0.2 #[euro/kWh]
imbalance_cost_daily = np.mean(np.abs(residuals)) * imbalance_price * 24
imbalance_cost_daily

1642.1596437083085