In [1]:
import pandas as pd
import datetime 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os 
from datetime import datetime
import time

In [2]:
# Save current directory
current_directory = os.getcwd()

# Set print options to suppress scientific notation and show 3 decimal places
np.set_printoptions(suppress=True, precision=5)
pd.options.display.float_format = '{:.5f}'.format

# Suppress all warnings globally
import warnings
warnings.filterwarnings("ignore")

In [3]:
file_path = os.path.join(current_directory, 'data_augmented/means_test.csv')
means_test = pd.read_csv(file_path)
file_path = os.path.join(current_directory, 'data_augmented/stds_test.csv')
stds_test = pd.read_csv(file_path)

In [4]:
mean_test = means_test['power_consumption']
std_test = stds_test['power_consumption']

In [5]:
file_path = os.path.join(current_directory, 'results/errors.csv')
errors = pd.read_csv(file_path, index_col=0)

In [6]:
errors

Empty DataFrame
Columns: [RMSE, MAE, ME, MAPE]
Index: []

In [7]:
errors * std_test + mean_test

Empty DataFrame
Columns: [0, MAE, MAPE, ME, RMSE]
Index: []

In [8]:
errors / np.max(errors, axis = 0)

Empty DataFrame
Columns: [RMSE, MAE, ME, MAPE]
Index: []

In [9]:
file_path = os.path.join(current_directory, 'results/uncertainty_evaluation.csv')
uncertainty_evaluation = pd.read_csv(file_path, index_col=0)
uncertainty_evaluation

Empty DataFrame
Columns: [PICP, PINAW]
Index: []

In [10]:
uncertainty_evaluation / np.max(uncertainty_evaluation, axis = 0)

Empty DataFrame
Columns: [PICP, PINAW]
Index: []